<div class="container-image">
  <p id="notice"><%= notice %></p>
  <div class="container" style="background: white; opacity: 0.9">
    <div class="title text-center"><h1>Restaurants</h1></div>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Phone number</th>
          <th>Category</th>
        </tr>
      </thead>

      <tbody>
        <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.address %></td>
          <td><%= restaurant.phone_number %></td>
          <td><%= restaurant.category %></td>
          <td><%= link_to 'Show >', restaurant_path(restaurant) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
